{%  extends 'layout.html.twig' %}

{% block body %}
    <form method="post">
        <label for="mail">Email : </label>
        <input type="text" name="_mail" id="mail">

        <label for="motPasse">Password : </label>
        <input type="password" name="_motPasse" id="motPasse">

        <button type="submit">Login !</button>
    </form>

{% endblock %}

{% block title %} Login {% endblock %}






