<form method="post" action="{{ path('campus_delete', {'idCampus': campus.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce campus?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campus.id) }}">
    <button class="btn">Supprimer</button>
</form>
