<form method="post" action="{{ path('campus_delete', {'idCampus': campu.idCampus}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campu.idCampus) }}">
    <button class="btn">Delete</button>
</form>
