{% extends 'layoutAdmin.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier les campus</h1>

    {{ include('campus/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('campus_index') }}">Retour</a>

    {{ include('campus/_delete_form.html.twig') }}
{% endblock %}
