{% extends 'layoutAdmin.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
    <h1 class="text-center">Gérer les campus</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campus %}
            <tr>

                <td>{{ campus.nom }}</td>
                <td>
                    <a href="{{ path('campus_edit', {'idCampus': campus.id}) }}">Modifier</a>
                    <a href="{{ path('campus_delete', {'idCampus': campus.id}) }}">Supprimer</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('campus_new') }}">Create new</a>
{% endblock %}
