{% extends 'layoutAdmin.html.twig' %}
{% block title %}New Campus{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter un campus</h1>

    {{ include('campus/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('campus_index') }}">Retour</a>
{% endblock %}
