<form method="post" action="{{ path('participant_delete_admin', {'idParticipant': participant.idParticipant}) }}"onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur ? : {{ participant.prenom}}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.idParticipant) }}">
    <button type="submit" class="btn btn-danger">Supprimer Utilisateur</button>
</form>
