{% extends 'layout.html.twig' %}

{% block title %}Sortir.com - Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ include('Admin/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-light" href="{{ path('admin_listing') }}">Retour Liste</a>

{% endblock %}
