{% extends 'layoutAdmin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" type="submit">Enregistrer un utilisateur !</button>
    {{ form_end(form) }}

{% endblock %}
