<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Le titre du site{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">



</head>
<body>
    <div class = "container">
        <header>
            <h1>Sortir Dot Com</h1>
            {% include ('inc/nav.html.twig') %}

        </header>

        {% for label, messages in app.flashes %}
            {%  for message in messages %}
                <div class = "flash flash-"{{ label }}>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            &copy; {{  "now" |date("Y") }} Mon Site
        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>