<form method="post" action="{{ path('etat_delete', {'idEtat': etat.idEtat}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat.idEtat) }}">
    <button class="btn">Delete</button>
</form>
